<div id="container" class="d-flex justify-content-center align-items-center flex-column gap-3">
    <div class="w-75 text-start">
        <h1 class="h1">Cesta</h1>
    </div>
    <div class="w-75">
        <div *ngIf="isEmpty(); else noEmpty" class="card">
            <div class="card-body fs-6">Você ainda não adicionou items em sua cesta...</div>
        </div>           
        <ng-template #noEmpty>
            <table class="table table-striped col-md-8 col-8">
                <thead class="w-100">
                    <tr>
                        <th>Jogo</th>
                        <th>preço</th>
                        <th>quantidade</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr *ngFor="let item of cesta.itens">
                        <td>{{item.game?.title}}</td>
                        <td>{{getPrice(item)}}</td>
                        <td>{{item?.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
    <div id="total-container">
        <p>Total</p>
        <p>{{getTotalValue()}}</p>
    </div>
    <div id="button-container" class="d-flex flex-direction-row gap-5">
        <button (click)="cleanCesta()" class="btn btn-danger">Limpar Cesta</button>
        <button class="btn btn-primary">Confirmar Compra</button>
    </div>
</div>
