.card-img-top {
    max-height: 20rem;
    margin-top: 1rem;

    object-fit: cover; 
    object-position: center; 
    background-color: #FFF;
    padding: 3rem;
}

.card-black {
    color: #FFF;
    background-color: #161616;
}

.pointer {
    cursor: pointer;
}